<h3>Nazwa projektu: Księgarnia</h3>
  <p>Opis projektu:<br>
  Strona księgarni internetowej, która oferuje zakup książek. Aplikacja jest podzielona na dwie główne części: część frontendową,
  która została zbudowana przy użyciu frameworka Angular, oraz część backendową, która wykorzystuje technologię Spring Boot.</p>

<p>Część frontendowa (Angular):</p>
<ul>
  <li>Strona główna: Użytkownicy mogą przeglądać książki do kupienia.</li>
  <li>Administracja:
  <li>Dodawanie książek: Administratorzy mogą dodać nowe książki podając tytuł, autora, cenę i opis. Po dodaniu książki zostanie
               ona
  <li>wyświetlona na stronie głównej.</li>
  <li>Edycja książek: Administratorzy mogą edytować istniejące książki.</li>
  <li>Usuwanie książek: Administratorzy mogą usunąć książkę.</li>
  <li>Przeglądanie historii zakupów: Zwykli użytkownicy w swoim profilu mogą przeglądać zakupione książki.</li>
</ul>


<p>Część backendowa (Spring Boot):</p>
<ul>
  <li>RESTful API: Backend dostarcza RESTful API do obsługi operacji na książkach, takich jak dodawanie, edycja i usuwanie
    książek.</li>
  <li>Baza danych: Dane o zadaniach są przechowywane w bazie danych PostgreSQL.</li>
  <li>Zabezpieczenia: Aplikacja jest zabezpieczona, a dostęp do operacji chroniony jest przez Spring Security JWT.</li>
  <li>Obsługa błędów: Backend obsługuje błędy i zwraca odpowiednie kody HTTP w przypadku niepowodzenia operacji.</li>
</ul>

<p>
  Technologie użyte w projekcie:
</p>
<ul>
  <li>Angular</li>
  <li>TypeScript</li>
  <li>Bootstrap</li>
  <li>Java 11</li>
  <li>Spring Boot 2.7.13</li>
  <li>Baza danych PostgreSQL</li>
  <li>Spring Security do autentykacji i autoryzacji</li>
</ul>

